<div class="content">
<nav class="navbar bg-info">
    <div class="container-fluid">
      <span style="font-style: oblique; color: firebrick; font-weight: 800;" class="navbar-brand mb-0 h1">Typing Test</span>
    </div>
  </nav>
<app-typing-test></app-typing-test>
<footer class="footer">&Copf; Lorem ipsum dolor sit amet.</footer>
</div>


<!-- git init
git commit -m "first commit"
git add .
git branch -M main
git remote add origin https://github.com/kushagra-u/food-order-application.git
git push -u origin main
ng b --output-path  docs --base-href /food-order-application/
git add .
git commit -m "add app"
git push -->